<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button href="https://ionicframework.jp/docs/"><ion-icon name="logo-ionic"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>
        Ionic Template Records
      </ion-title>
      <ion-buttons slot="end">
        <ion-button href="https://github.com/rdlabo/ionic-ci"><ion-icon name="logo-github"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="ion-padding">
    </div>
  </ion-content>
</ion-app>
