<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button href="https://ionicframework.jp/docs/"><ion-icon name="logo-ionic"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>
        Ionic Template Records
      </ion-title>
      <ion-buttons slot="end">
        <ion-button href="https://github.com/rdlabo/ionic-ci"><ion-icon name="logo-github"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <div class="ion-padding description">
      <p>
        Are you interested in quality? This is the result of measuring Ionic's Starter Template with Lighthouse. The
        value used is the median value for each version. For detail: <a href="https://github.com/rdlabo/ionic-ci">rdlabo/ionic-ci</a>.
      </p>
    </div>

    <ion-toolbar>
      <ion-segment [(ngModel)]="type" mode="ios" (ngModelChange)="ngOnInit()" slot="start" color="danger">
        <ion-segment-button value="angular">Angular</ion-segment-button>
        <ion-segment-button disabled="">React</ion-segment-button>
      </ion-segment>
      <ion-segment [(ngModel)]="template" mode="ios" (ngModelChange)="ngOnInit()" slot="end" color="tertiary">
        <ion-segment-button value="blank">blank</ion-segment-button>
        <ion-segment-button value="sidemenu">sidemenu</ion-segment-button>
        <ion-segment-button value="tabs">tabs</ion-segment-button>
        <ion-segment-button value="conference">conderence</ion-segment-button>
      </ion-segment>
    </ion-toolbar>

    <section *ngFor="let graph of [graph1, graph2, graph3, graph4]; let i = index">
      <section class="ion-padding">
        <h2 class="ion-text-center">
          <span *ngIf="i === 0">Time</span>
          <span *ngIf="i === 1">Parse</span>
          <span *ngIf="i === 2">Byte</span>
          <span *ngIf="i === 3">Delay</span>
        </h2>
        <app-chart [data]="graph" [options]="options"></app-chart>
      </section>
    </section>
  </ion-content>
</ion-app>
