<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button href="https://ionicframework.jp/docs/"><ion-icon name="logo-ionic"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>
        Ionic Template Records
      </ion-title>
      <ion-buttons slot="end">
        <ion-button href="https://github.com/rdlabo/ionic-ci"><ion-icon name="logo-github"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="ion-padding">
      <p>
        Are you interested in quality? This is the result of measuring Ionic's Starter Template with Lighthouse. The
        value used is the median value for each package version. If you want to know how it works, look at the
        repository: <a href="https://github.com/rdlabo/ionic-ci">rdlabo/ionic-ci</a>. Thanks.
      </p>
    </div>

    <ion-toolbar>
      <ion-segment [(ngModel)]="type" mode="ios">
        <ion-segment-button value="angular">Angular</ion-segment-button>
        <ion-segment-button disabled="">React</ion-segment-button>
      </ion-segment>

      <ion-segment [(ngModel)]="template" mode="ios">
        <ion-segment-button value="blank">blank</ion-segment-button>
        <ion-segment-button value="sidemenu">sidemenu</ion-segment-button>
        <ion-segment-button value="tabs">tabs</ion-segment-button>
        <ion-segment-button value="conference">conderence</ion-segment-button>
      </ion-segment>
    </ion-toolbar>
    <section class="ion-padding">
      <h2>Time</h2>
      <app-chart [data]="graph1" [options]="options"></app-chart>
    </section>
    <section class="ion-padding">
      <h2>Byte</h2>
      <app-chart [data]="graph2" [options]="options"></app-chart>
    </section>
    <section class="ion-padding">
      <h2>Delay</h2>
      <app-chart [data]="graph3" [options]="options"></app-chart>
    </section>
  </ion-content>
</ion-app>
